# Exosystems

This program evaluates the deflection of light and the direction error of the Earth from some exosystems.

## Libraries

In [2]:
import numpy as np
import pandas as pd
from astronavigation.planets import SolarSystem, Body
from astropy import constants
from astronavigation.deflection import *
from astronavigation.save_df import save_df

## Useful objects

In [3]:
# Define constants
pc = constants.pc.to('km').value
AU = constants.au.to('km').value
c = constants.c.to('km/s').value
eps = 1/c

# create solar system and jupiter
ss = SolarSystem()

v_null = np.array([0, 0, 0])

## Catalogue

In [4]:
path = 'exo_archive.csv'
catalogue = pd.read_csv(path)
catalogue.head()

,pl_name,hostname,pl_orbsmax,pl_radj,pl_massj,st_rad,st_mass,ra,dec,sy_dist,sy_gaiamag
0,Proxima Cen b,Proxima Cen,0.0485,NaN,NaN,0.14,0.12,217.393466,-62.676182,1.30119,8.95361
1,eps Eri b,eps Eri,3.5000,NaN,NaN,0.76,0.81,53.228431,-9.458172,3.20260,3.47719
2,GJ 887 b,GJ 887,0.0680,NaN,NaN,0.47,0.49,346.466827,-35.853069,3.29000,NaN
3,GJ 887 c,GJ 887,0.1200,NaN,NaN,0.47,0.49,346.466827,-35.853069,3.29000,NaN
4,Ross 128 b,Ross 128,0.0496,NaN,NaN,0.20,0.17,176.937604,0.799290,3.37454,9.59067

## Mean body deflection

## Test different combinations